.AscModal{
  padding: 0px;
}
.AscModal .Body{
  margin: 20px;
}
.AscModal input{
  font-size: 20px;
  width: 100%;
}

.AscModal .Header{
  background-color: #2a94e0;
  margin: -5px -20px 0 -20px;
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.AscModal .Header h2{
  color: white;
  margin: 0;
}

button:disabled, button:disabled:hover{
  color: #999;
  border-color: #999;
  cursor: initial;
}

.AscModal button{
  margin-left: 0px;
}

.AscModal h3{
  font-weight: 300;
}

