.Page{
}
.InfoBlock{
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #aaa;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 0 10px;
}

.InfoHeader{
  margin-left: -10px;
  margin-right: -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px;
  background: linear-gradient(-50deg, #6ed0f7, #4068bf);
}

.InfoHeader h2{
  margin:0;
  color: white;
}

.InfoLine .Descriptor{
  font-weight: bold;
  display: inline-block;
  text-align: right;
}
.InfoLine .Descriptor:after{
  content: ':';
  padding-right: 5px;
}

.InfoLine .Value {
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

.InfoBlock a{
  margin-top: 30px;
  text-align: center;
}

.InfoBody{
  padding: 10px 0px 20px 0px;
}

.PanelContainer{
  padding-top: 30px;
  display: flex;
}
.LeftPanel {
  margin-right: 20px;
}
.LeftPanel h1{
  margin-top: 0;
}
.RightPanel {
  flex-grow: 1;
}
.RightPanel h2{
  margin-top: 8px;
  margin-bottom: 22px;
}
.BalanceColor {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.BalanceBlockBody {
  display: flex;
}
