.idea/
.python-version
.DS_Store
*.sqlite3
.coverage
backend/coverage/
.TODO
.env


# gcp service accounts
mycrocoin-b443c4301ade.json

# paymahn uses a file called scratch.py to mess around with things
**/scratch.py
