.App {
}

.App-header {
  background: linear-gradient(-50deg, #4ff0ff, #0039b5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 30px;
  padding: 20px 60px;
  color: white;
  display: flex;
}

.App-header a{
  color: white;
  padding: 20px;
}

.App-header h1{
  transition: 0.1s letter-spacing;
}
.App-header h1:hover{
  letter-spacing: 1px;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  padding-right: 10px;
}

.App-title a {
  padding: 0;
  text-decoration: none;
}

.App-title a:hover {
  text-decoration: none;
}

.App-intro {
  font-size: large;
  margin: 0;
  color: rgba(255,255,255,0.85);
  padding-top: 5px;
}

.App-body {
  color: #555;
  padding: 0 60px;
}

a {
  color: #4ac;
  font-weight: normal;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.Toastify a{
  color: white;
}
.Toastify h3{
  color: white;
}

.App-body button{
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  border-color: #3a1;
  border-width: 2px;
  border-radius: 5px;
  color: #3a1;
  margin: 20px;
  cursor: pointer;
}

.App-body .button{
  font-size: 20px;
  font-weight: bold;
  border-color: #3a1;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  color: #3a1;
  margin: 20px;
  padding: 1px 7px 2px 7px;
}

.App-body button:hover{
  color: #69dc49;
  border-color: #69dc49;
  text-decoration: none;
}
.App-body .button:hover{
  color: #69dc49;
  border-color: #69dc49;
  text-decoration: none;
}

.GitHubLogo{
  content: " ";
  background-image: url('./github_logo.png');
  background-size: contain;
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.NoWeb3 {
  text-align: center;
}

em {
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
  color: #666;
}

h3{
  font-weight: 300;
  color: #888;
}

.Modal{
  padding: 0px;
}
.Modal .Body{
  margin: 20px;
}
.Modal input{
  font-size: 20px;
  width: 100%;
}

.Modal .Header{
  background-color: #2a94e0;
  margin: -5px -20px 0 -20px;
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.Modal .Header h2{
  color: white;
  margin: 0;
}

button:disabled, button:disabled:hover{
  color: #999;
  border-color: #999;
  cursor: initial;
}

.Modal button{
  margin-left: 0px;
}

.Modal h3{
  color: white;
}

.animated{
  transition: transform 0.6s ease 0s, opacity 0.2s ease 0s;
}

.rotateY{
  transform: rotateY(360deg);
}
